# Test lógico negación

In [1]:
import sys

sys.path.append("../src")

In [2]:
import nltk
import pandas as pd

from pathlib import Path
from tqdm.auto import tqdm

In [3]:
from config.config import PATHS
from logic.logic_tester import LogicTester

In [4]:
data_folder = PATHS['training_data_folder']
data_path = Path(data_folder, 'negacion_5_fol.csv')
data = pd.read_csv(data_path, names=['Sentence 1', 'Sentence 2', 'Relation'], sep=";")
print(f'Data shape: {data.shape}')
data.tail()

Data shape: (10650, 3)

,Sentence 1,Sentence 2,Relation
10645,exists x.(ALCER(x) & (AMANECER(x) | ANOCHECER(...,all x.(ALCER(x) -> (AMANECER(x) | ANOCHECER(x))),0
10646,exists x.(ALCER(x) & (ANOCHECER(x) | ACORDAR(x))),all x.(ALCER(x) -> (ANOCHECER(x) | ACORDAR(x))),0
10647,exists x.(ALCER(x) & (ANOCHECER(x) | AGUANTAR(...,all x.(ALCER(x) -> (ANOCHECER(x) | AGUANTAR(x))),0
10648,exists x.(ALCER(x) & (ANOCHECER(x) | AMAR(x))),all x.(ALCER(x) -> (ANOCHECER(x) | AMAR(x))),0
10649,exists x.(ALCER(x) & (ANOCHECER(x) | AMANECER(...,all x.(ALCER(x) -> (ANOCHECER(x) | AMANECER(x))),0

In [5]:
sentences1 = data['Sentence 1'].tolist()
sentences2 = data['Sentence 2'].tolist()

In [6]:
tester = LogicTester()

In [7]:
tested = list()
pbar = tqdm(total=data.shape[0], desc="Testing negation relations")
for index, row in data.iterrows():
    sentences1 = row['Sentence 1']
    sentences2 = row['Sentence 2']
    # print('Sentences:', sentences1, sentences2)
    relation = row['Relation']
    result = tester.test_negacion(sentences1, sentences2)
    tested.append(int(result))
    pbar.update(1)

data['Tested'] = tested
data.head()

Testing negation relations:   0%|          | 0/10650 [00:00<?, ?it/s]

,Sentence 1,Sentence 2,Relation,Tested
0,all x.(ABUELO(x) -> ACORDAR(x)),exists x.(ABUELO(x) & -ACORDAR(x)),1,1
1,all x.(ABUELO(x) -> AGUANTAR(x)),exists x.(ABUELO(x) & -AGUANTAR(x)),1,1
2,all x.(ABUELO(x) -> AMAR(x)),exists x.(ABUELO(x) & -AMAR(x)),1,1
3,all x.(ABUELO(x) -> AMANECER(x)),exists x.(ABUELO(x) & -AMANECER(x)),1,1
4,all x.(ABUELO(x) -> ANOCHECER(x)),exists x.(ABUELO(x) & -ANOCHECER(x)),1,1

In [8]:
errors = pd.DataFrame(data[data['Tested'] != data['Relation']]).reset_index()

In [9]:
len(errors)

0

In [10]:
errors.head()

Empty DataFrame
Columns: [index, Sentence 1, Sentence 2, Relation, Tested]
Index: []

In [11]:
# idx, sentence1, sentence2, relation, test = errors.loc[1,:].values.tolist()
# print(f"Sentence 1: {sentence1}")
# print(f"Sentence 2: {sentence2}")