# Test l√≥gico equivalencia

In [1]:
import sys

sys.path.append("../src")

In [2]:
import nltk
import pandas as pd

from pathlib import Path
from tqdm.auto import tqdm

In [3]:
from config.config import PATHS
from logic.logic_tester import LogicTester

In [4]:
data_folder = PATHS['training_data_folder']
data_path = Path(data_folder, 'equivalencia_5_fol.csv')
data = pd.read_csv(data_path, names=['Sentence 1', 'Sentence 2', 'Relation'], sep=";")
print(f'Data shape: {data.shape}')
data.tail()

Data shape: (10650, 3)

,Sentence 1,Sentence 2,Relation
10645,exists x.(ALCER(x) & (AMANECER(x) | ANOCHECER(...,-exists x.(ALCER(x) & (AMANECER(x) | ANOCHECER...,0
10646,exists x.(ALCER(x) & (ANOCHECER(x) | ACORDAR(x))),-exists x.(ALCER(x) & (ANOCHECER(x) | ACORDAR(...,0
10647,exists x.(ALCER(x) & (ANOCHECER(x) | AGUANTAR(...,-exists x.(ALCER(x) & (ANOCHECER(x) | AGUANTAR...,0
10648,exists x.(ALCER(x) & (ANOCHECER(x) | AMAR(x))),-exists x.(ALCER(x) & (ANOCHECER(x) | AMAR(x))),0
10649,exists x.(ALCER(x) & (ANOCHECER(x) | AMANECER(...,-exists x.(ALCER(x) & (ANOCHECER(x) | AMANECER...,0

In [5]:
sentences1 = data['Sentence 1'].tolist()
sentences2 = data['Sentence 2'].tolist()

In [6]:
tester = LogicTester()

In [7]:
tested = list()
pbar = tqdm(total=data.shape[0], desc="Testing equivalence relations")
for index, row in data.iterrows():
    sentences1 = row['Sentence 1']
    sentences2 = row['Sentence 2']
    # print('Sentences:', sentences1, sentences2)
    relation = row['Relation']
    result = tester.test_equivalencia(sentences1, sentences2)
    tested.append(int(result))
    pbar.update(1)

data['Tested'] = tested
data.head()

Testing equivalence relations:   0%|          | 0/10650 [00:00<?, ?it/s]

,Sentence 1,Sentence 2,Relation,Tested
0,-all x.((ABUELO(x) & ALEGRE(x)) -> ACORDAR(x)),exists x.(ABUELO(x) & ALEGRE(x) & -ACORDAR(x)),1,1
1,-all x.((ABUELO(x) & ALTO(x)) -> ACORDAR(x)),exists x.(ABUELO(x) & ALTO(x) & -ACORDAR(x)),1,1
2,-all x.((ABUELO(x) & AMARGO(x)) -> ACORDAR(x)),exists x.(ABUELO(x) & AMARGO(x) & -ACORDAR(x)),1,1
3,-all x.((ABUELO(x) & AMPLIO(x)) -> ACORDAR(x)),exists x.(ABUELO(x) & AMPLIO(x) & -ACORDAR(x)),1,1
4,-all x.((ABUELO(x) & AMARILLO(x)) -> ACORDAR(x)),exists x.(ABUELO(x) & AMARILLO(x) & -ACORDAR(x)),1,1

In [8]:
errors = pd.DataFrame(data[data['Tested'] != data['Relation']]).reset_index()

In [9]:
len(errors)

0

In [10]:
errors.head(5)

Empty DataFrame
Columns: [index, Sentence 1, Sentence 2, Relation, Tested]
Index: []