# Test lógico implicación inversa

In [1]:
import sys

sys.path.append("../src")

In [2]:
import nltk
import pandas as pd

from pathlib import Path
from tqdm.auto import tqdm

In [3]:
from config.config import PATHS
from logic.logic_tester import LogicTester

In [5]:
data_folder = PATHS['training_data_folder']
data_path = Path(data_folder, 'implicacion_inversa_5_fol.csv')
data = pd.read_csv(data_path, names=['Sentence 1', 'Sentence 2', 'Relation'], sep=";")
print(f'Data shape: {data.shape}')
data.head()

Data shape: (23400, 3)

,Sentence 1,Sentence 2,Relation
0,exists x.(MUNDO(x) & LLEGAR(x)),all x.(MUNDO(x) -> LLEGAR(x)),1
1,exists x.(MUNDO(x) & VIAJAR(x)),all x.(MUNDO(x) -> VIAJAR(x)),1
2,exists x.(MUNDO(x) & PASEAR(x)),all x.(MUNDO(x) -> PASEAR(x)),1
3,exists x.(MUNDO(x) & PENSAR(x)),all x.(MUNDO(x) -> PENSAR(x)),1
4,exists x.(MUNDO(x) & DEAMBULAR(x)),all x.(MUNDO(x) -> DEAMBULAR(x)),1

In [6]:
sentences1 = data['Sentence 1'].tolist()
sentences2 = data['Sentence 2'].tolist()

In [7]:
tester = LogicTester()

In [8]:
tested = list()
pbar = tqdm(total=data.shape[0], desc="Testing inverse implication relations")
for index, row in data.iterrows():
    sentences1 = row['Sentence 1']
    sentences2 = row['Sentence 2']
    # print('Sentences:', sentences1, sentences2)
    relation = row['Relation']
    result = tester.test_implicacion_inversa(sentences1, sentences2)
    tested.append(int(result))
    pbar.update(1)

data['Tested'] = tested
data.head()

Testing inverse implication relations:   0%|          | 0/23400 [00:00<?, ?it/s]

,Sentence 1,Sentence 2,Relation,Tested
0,exists x.(MUNDO(x) & LLEGAR(x)),all x.(MUNDO(x) -> LLEGAR(x)),1,0
1,exists x.(MUNDO(x) & VIAJAR(x)),all x.(MUNDO(x) -> VIAJAR(x)),1,0
2,exists x.(MUNDO(x) & PASEAR(x)),all x.(MUNDO(x) -> PASEAR(x)),1,0
3,exists x.(MUNDO(x) & PENSAR(x)),all x.(MUNDO(x) -> PENSAR(x)),1,0
4,exists x.(MUNDO(x) & DEAMBULAR(x)),all x.(MUNDO(x) -> DEAMBULAR(x)),1,0

In [9]:
errors = pd.DataFrame(data[data['Tested'] != data['Relation']]).reset_index()
len(errors)

2700

In [10]:
errors.head()

,index,Sentence 1,Sentence 2,Relation,Tested
0,0,exists x.(MUNDO(x) & LLEGAR(x)),all x.(MUNDO(x) -> LLEGAR(x)),1,0
1,1,exists x.(MUNDO(x) & VIAJAR(x)),all x.(MUNDO(x) -> VIAJAR(x)),1,0
2,2,exists x.(MUNDO(x) & PASEAR(x)),all x.(MUNDO(x) -> PASEAR(x)),1,0
3,3,exists x.(MUNDO(x) & PENSAR(x)),all x.(MUNDO(x) -> PENSAR(x)),1,0
4,4,exists x.(MUNDO(x) & DEAMBULAR(x)),all x.(MUNDO(x) -> DEAMBULAR(x)),1,0

In [11]:
idx, sentence1, sentence2, relation, test = errors.loc[1,:].values.tolist()
print(f"Sentence 1: {sentence1}")
print(f"Sentence 2: {sentence2}")

Sentence 1: exists x.(MUNDO(x) & VIAJAR(x))
Sentence 2: all x.(MUNDO(x) -> VIAJAR(x))